---
const { title, subtitle, secondSubtitle, color } = Astro.props;
const textColor = `text-${color}`;
---

<section
  class="bg-black h-screen w-screen text-center relative overflow-hidden landing-section"
  data-header-color={color}
>
  <div class="flex flex-col h-full z-30 relative">
    <header>
      <h2 class={`${textColor} pt-24 text-[40px] font-medium`}>
        {title}
      </h2>
      <p class={`${textColor} text-sm`}>
        {subtitle}
      </p>
      {secondSubtitle && <p class={`${textColor} text-sm`}>{secondSubtitle}</p>}
    </header>

    <footer class="text-white pb-20 flex flex-grow flex-col justify-end">
      <slot name="footer" />
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full">
    <slot name="background" />
  </div>
</section>
